[mysqld]

# Innodb 
innodb_buffer_pool_size = 1G                # main memory buffer of Innodb, very imporant
innodb_log_file_size = 256M                 # transactional journal size 
innodb_flush_method = O_DIRECT              # avoid double buffering with the OS
innodb_flush_log_at_trx_commit = 2          # writes to OS, fsynced once per second
innodb_buffer_pool_load_at_startup = on
innodb_buffer_pool_dump_at_shutdown = on
innodb_ft_min_token_size = 3

# Basic Settings 
thread_cache_size = 8
table_open_cache = 4000
table_definition_cache = 1500
query_cache_size = 32M
query_cache_type = 1
max_allowed_packet = 8388608
sql_mode = "NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION"

# Replication
server_id = 1012802 # the ip address of the server is a good idea.
log_bin = /var/lib/mysql/mysql-bin
expire_logs_days = 14
sync_binlog = 4                             # 1: with every transaction 4 or 5: every 4th or 5th transaction.

# Slow Query Logging / Tuning
slow_query_log = on
slow_query_log_file = /var/log/mysqld-slow-queries.log
log_slow_verbosity = 'innodb,query_plan'
long_query_time = 7
performance_schema = on